.Header {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 30px;
  z-index: 99;
  font-family: "Neue-Montreal-Regular";
}

.header_folded {
  padding: 0 5rem 0 4rem;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  animation: revealHeader 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes revealHeader {
  0% {
    transform: translate(0, -200%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.header_folded > div:nth-child(2) {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: revealHeader 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.header_folded > div:nth-child(2) > a {
  margin-right: 25%;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.header_folded > div:nth-child(2) > a > span {
  font-size: 20px;
  position: absolute;
}

.header_folded > div:nth-child(2) > div:not(.header_unfolded) {
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.header_folded > div:nth-child(2) > div:not(.header_unfolded) > span {
  font-size: 20px;
  position: absolute;
}

.header_folded > div:nth-child(2) > div:not(.header_unfolded):hover,
.header_folded > div:nth-child(2) > a:hover {
  color: #35373a7d;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* HEADER UNFOLDED */

.header_unfolded {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--main-highlight-color);
  animation: rollout 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes rollout {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 100vh;
  }
}

@keyframes rolloutText {
  0% {
    line-height: 0;
    transform: translateY(-100%);
  }
  100% {
    line-height: 0.8;
    transform: translateY(0%);
  }
}

.header_unfolded > div:nth-child(1) {
  background: url("../../images/x.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 8vh;
  right: 5vw;
  transition: transform 0.2s ease-in;
}

.header_unfolded > div:nth-child(1):hover {
  cursor: pointer;
  transform: scale(0.85);
  transition: transform 0.2s ease-in;
}

.unfolded_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12vw;
  font-family: "Neue-Montreal-Medium";
  line-height: 0.8;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  animation: rolloutText 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.unfolded_links > a:hover {
  cursor: pointer;
}

.header_unfolded > div:nth-child(3) {
  width: 30%;
  position: absolute;
  bottom: 1rem;
  right: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_unfolded > div:nth-child(3) span {
  font-size: 20px;
  position: absolute;
}

.header_unfolded > div:nth-child(3) > p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .Header {
    font-size: 22px;
  }

  .header_folded {
    padding: 0 1.1rem 0 1.1rem;
    height: 60px;
    margin-top: 10px;
  }

  .header_folded > div:nth-child(2) > a {
    margin-right: 16%;
  }

  .header_folded > div:nth-child(2) > div {
    margin-right: 11%;
  }

  .header_folded > div:nth-child(2) > a > span,
  .header_folded > div:nth-child(2) > div:not(.header_unfolded) > span {
    font-size: 12px;
  }

  .header_folded > div:nth-child(2) {
    width: 60%;
  }

  /* HEADER UNFOLDED */
  .unfolded_links {
    font-size: 96px;
    font-family: "Neue-Montreal-Medium";
    line-height: 0.8;
    bottom: 2rem;
    left: 1rem;
    height: fit-content;
  }

  .header_unfolded {
    height: 100dvh;
  }

  .header_unfolded > div:nth-child(1) {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 3vh;
    right: 5vw;
  }

  .header_unfolded > div:nth-child(3) {
    width: 58%;
    height: fit-content;
    position: absolute;
    top: 1.1rem;
    left: 1.3rem;
    flex-direction: column-reverse;
    align-items: flex-start;
    font-size: 25px;
  }

  .header_unfolded > div:nth-child(3) span {
    font-size: 16px;
    position: absolute;
  }
}
