.footer {
  width: 100vw;
  height: 104vh;
  padding: 3rem 4rem 0 4rem;
  background-color: var(--main-black);
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 9999;
}

.footer_top {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_top > * {
  width: calc(33.3% - 4rem);
}

.footer_top > div a {
  font-family: var(--auxiliar-font);
  color: var(--main-white);
  font-size: 1.5rem;
}

.footer_top > p {
  font-family: var(--auxiliar-font);
  font-size: 2.3rem;
  margin: 0 2% 0 0;
  text-align: end;
}

.footer_top > div:first-child button {
  border: 1px solid var(--main-white);
  padding: 0.5rem 2.5rem;
  border-radius: 30px;
  color: var(--main-white);
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-size: 1.5rem;
  font-family: "Neue-Montreal-Book";
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.footer_top > div:first-child button:hover {
  background: var(--main-white);
  color: var(--main-black);
  cursor: pointer;
}

.footer_top > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.footer_top > div:last-child > * {
  margin-bottom: 10px;
  font-size: 2em;
}

.footer_bottom {
  font-size: 17.2rem;
  width: calc(100% + 8rem);
  transform: scaleY(1.2);
  margin: 0 !important;
  margin-bottom: 1vh !important;
}

.footer_bottom a {
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  color: var(--main-white);
  overflow: hidden;
  white-space: nowrap;
}

.footer_bottom a > p {
  display: inline-block;
}

.footer_bottom a:hover > p {
  animation: scrollText 15s infinite linear;
}

.footer_bottom a:hover {
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  color: var(--main-highlight-color);
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
