/* POST PAGE */
.postPage {
  font-family: 'Neue-Montreal-Regular';
  margin-left: 1.5rem;
}

.postPage .title {
  font-size: 180px;
  filter: opacity(0.05);
  position: fixed;
  top: -20px;
  width: 80vw;
}

.postPage .content {
  width: 50vw;
  margin-top: 340px;
  margin-left: 19.4vw;
  padding-bottom: 300px;
}

.postPage .content.post3 {
  margin-top: 500px;
}

.postPage .content p {
  line-height: 1.3;
  font-size: 1.5vw;
  font-weight: 400;
  margin-bottom: 40px;
}

.postPage .text-strikethrough {
  text-decoration: line-through;
}

.postPage .bold {
  font-weight: bold;
}

.postPage .cursive {
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .postPage .title {
    font-size: 70px;
    position: fixed;
    top: 40px;
    line-height: 0.9;
  }

  .postPage .content {
    width: 85%;
    margin-top: 270px;
    margin-left: 1.5dvw;
    padding-bottom: 200px;
  }

  .postPage .content.post3 {
    margin-top: 340px;
  }

  .postPage .content p {
    font-size: 18px;
    position: relative;
    z-index: 1;
  }

  .postPage .BackHome > p {
    display: none;
  }

  .postPage .BackHome {
    bottom: 1.5dvh;
    left: 1.5dvh;
  }

  .postPage .BackHome > img {
    width: 10px;
  }
}
