* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.App {
  position: relative;
}

.left-side-bar {
  width: 300px;
  height: 60px;
  position: fixed;
  left: 50%;
  top: -16px;
  transform: translateX(-50%);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.41);
}

.left-side-bar li {
  width: 35px;
  height: 35px;
  margin-left: -37px;
  margin-top: 5px;
}

.left-side-bar img {
  width: 30px;
  height: 30px;
  margin: auto 0;
}

.left-side-bar img:hover {
  box-shadow: 0px 0px 15px 6px rgba(241,255,92,1);
}

.welcome {
  width: 1000px;
  height: 450px;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -31%);
}

.welcome > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome > div > img {
  width: 450px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  color: #393933;
}

.welcome-text > p:nth-child(1) {
  font-weight: 600;
  font-size: 50px;
  margin-left: -170px;
  background-color: #FFF;
  padding: 10px 0;
  padding-left: 30px;
}

.welcome-text > p:nth-child(1) > span {
  font-style: italic;
  background-color: #F1FF5C;
  text-underline-offset: -5px;
  padding: 0 10px;
}
