/* WELCOME SECTION */
.welcome {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: var(--main-black);
  padding: 3rem 4rem;
  display: flex;
  align-items: flex-start;
}

.welcome_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.welcome_content_left {
  padding-top: 30px;
  width: 45%;
  overflow: hidden;
}

.welcome_content_left p {
  font-family: 'Neue-Montreal-Regular';
  font-size: 30px;
  line-height: 0.95;
  position: relative;
  z-index: 2;
  margin: 0;
  display: block;
  animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  padding-bottom: 10px;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.welcome_content_right {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Neue-Montreal-Regular';
  margin-top: 20px;
}

.welcome_image {
  background: url("./images/welcome_image.webp");
  background-size: cover;
  background-position-y: -90px;
  width: 56.5%;
  height: 67.75vh;
  animation: appearingImage 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  margin-right: 11.5%;
}

@keyframes appearingImage {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.welcome_content_right_links {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}

.welcome_content_right_links > div:not(.welcome_image) {
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
}

.welcome_content_right_links > div:nth-child(2) {
  width: 22%;
}

.welcome_content_right_links > div:nth-child(3) {
  width: 24.5%;
}

.welcome_content_right_links > div:nth-child(4) {
  width: 26.5%;
}

.welcome_content_right_links > div:hover {
  cursor: pointer;
}

.welcome_content_right_links > div > p {
  font-size: 28px;
  text-align: end;
  animation: revealLinks 3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  height: fit-content;
}

@keyframes revealLinks {
  0% {
    transform: translate(0, -400%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.welcome_content_right_links > div > p:not(:first-child) {
  margin-top: -10px;
}

.welcome_content_right_links > div > p:nth-child(2) {
  opacity: 0.6;
}
.welcome_content_right_links > div > p:nth-child(3) {
  opacity: 0.4;
}
.welcome_content_right_links > div > p:nth-child(4) {
  opacity: 0.2;
}
.welcome_content_right_links > div > p:nth-child(5) {
  opacity: 0.1;
}

.welcome_content_right_links > div > p > span {
  font-size: 20px;
  position: absolute;
}

.welcome_content_right_links > div > p:nth-child(1) {
  transform: scaleY(1.05);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.welcome_content_right_links > div:hover > p:nth-child(1) {
  color: #35373a7d;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* ABOUT SECTION */

.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 4rem;
  background: var(--main-white);
  color: var(--main-black);
}

.about_main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: 'Neue-Montreal-Regular';
}

.about_text {
  width: 40%;
  font-size: 30px;
  line-height: 1;
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about_text > p {
  margin: 1.5rem 0;
}

.about_text > p:last-child {
  margin-bottom: 0;
}

.about_bubbles {
  width: 50%;
  height: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_bubbles > a {
  font-family: "Editorial-New-Light";
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid var(--main-black);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50%;
  right: 50%;
  margin-right: 10px;
  letter-spacing: normal;
  transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1), background-color 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.about_bubbles > a:hover {
  cursor: url('./images/cursor_custom.png') 40 40, pointer;
  transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1), background-color 0.3s cubic-bezier(0.77, 0, 0.175, 1),;
}

.about_bubbles > a:nth-child(1) {
  width: 180px;
  height: 180px;
  font-size: 23px;
}
.about_bubbles > a:nth-child(2) {
  width: 116px;
  height: 116px;
  transform: translate(70px, 75px);
  font-size: 18px;
}
.about_bubbles > a:nth-child(3) {
  width: 150px;
  height: 150px;
  transform: translate(149px, -25px);
  font-size: 19px;
}
.about_bubbles > a:nth-child(4) {
  width: 98px;
  height: 98px;
  transform: translate(243.5px, -21px);
  font-size: 15px;
}
.about_bubbles > a:nth-child(5) {
  width: 105px;
  height: 105px;
  transform: translate(50px, -150px);
  font-size: 16px;
}
.about_bubbles > a:nth-child(6) {
  width: 130px;
  height: 130px;
  transform: translate(199.5px, 92px);
  font-size: 17px;
}
.about_bubbles > a:nth-child(7) {
  width: 98px;
  height: 98px;
  transform: translate(227.5px, -118px);
  font-size: 15px;
}
.about_bubbles > a:nth-child(8) {
  width: 100px;
  height: 100px;
  transform: translate(147.5px, -173px);
  font-size: 15px;
}

.about_bubbles:has(a:hover) > a:not(:hover) {
  opacity: 0.5;
  transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1), background-color 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}


/* PROJECTS SECTION */

.projects {
  width: 100vw;
  height: 200vh;
  padding: 3rem 4rem 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--main-black);
  background-color: var(--main-white);
}

.projects_grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.projects_grid > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15% 0;
  position: relative;
  transition: scale 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.projects_grid > div:hover {
  cursor: url("./images/cursor_custom.png"), pointer;
  scale: 1.03;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.projects_grid .keywords {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-size: cover;
  position: relative;
  filter: brightness(90%);
}

.projects_grid .keywords > p {
  opacity: 0;
  color: var(--main-white);
  transform: translateY(-20px);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  font-size: 0.85rem;
}

.video_wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--main-black);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.projects_grid .keywords:hover .video_wrapper {
  opacity: 0.6;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.projects_grid .keywords:hover > p {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.projects_grid > div > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 35px;
}

.projects_grid > div > div > p {
  font-size: 14px;
  font-family: "Neue-Montreal-Regular";
  margin: 0;
  font-size: 22px;
  letter-spacing: 0.02em;
}

.projects_grid > div > div:nth-child(2) > p {
  position: absolute;
}

.projects_grid > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) {
  top: 15%;
  right: -20px;
}
.projects_grid > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
  bottom: 25%;
  left: -40px;
}

.projects_grid > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) {
  top: 6%;
  left: 40px;
}
.projects_grid > div:nth-child(2) > div:nth-child(2) > p:nth-child(2) {
  bottom: 13%;
  right: 40px;
}

.projects_grid > div:nth-child(3) > div:nth-child(2) > p:nth-child(1) {
  bottom: 12%;
  right: 20px;
}
.projects_grid > div:nth-child(3) > div:nth-child(2) > p:nth-child(2) {
  top: 20%;
  left: -20px;
}

.projects_grid > div:nth-child(4) > div:nth-child(2) > p:nth-child(1) {
  bottom: 18%;
  right: -35px;
}
.projects_grid > div:nth-child(4) > div:nth-child(2) > p:nth-child(2) {
  top: 10%;
  left: -60px;
}

.projects_grid > div:nth-child(1) {
  background-color: var(--main-white);
  grid-column: 2 / 8;
  grid-row: 1 / 10;
}
.projects_grid > div:nth-child(2) {
  background-color: var(--main-white);
  grid-column: 12 / 21;
  grid-row: 2 / 10;
}
.projects_grid > div:nth-child(3) {
  background-color: var(--main-white);
  grid-column: 1 / 9;
  grid-row: 12 / 20;
}
.projects_grid > div:nth-child(4) {
  background-color: var(--main-white);
  grid-column: 14 / 20;
  grid-row: 11 / 21;
}

.projects_grid > div:nth-child(1) > .keywords {
  background-image: url("./images/jimenagonz_mockup.webp");
  background-size: cover;
  background-position-x: -180px;
}

.projects_grid > div:nth-child(2) > .keywords {
  background-image: url("./images/bso_mockup.webp");
  background-size: 140%;
  background-position-x: -100px;
  background-position-y: -75px;
}

.projects_grid > div:nth-child(3) > .keywords {
  background-image: url("./images/elonjump_mockup.webp");
  background-size: 130%;
  background-position-x: -70px;
  background-position-y: -20px;
}

.projects_grid > div:nth-child(4) > .keywords {
  background-image: url("./images/senseat_mockup.webp");
  background-size: 250%;
  background-position-x: -250px;
  background-position-y: -55px;
}

.projects_grid > div:nth-child(1) > .keywords:hover {
  background-image: url("./images/jgi_video.gif");
  background-size: cover;
  background-position-x: 0;
  background-position-y: 0;
}
.projects_grid > div:nth-child(2) > .keywords:hover {
  background-image: url("./images/bso_video.gif");
  background-size: cover;
  background-position-x: 0;
  background-position-y: 0;
}
.projects_grid > div:nth-child(3) > .keywords:hover {
  background-image: url("./images/elonjump_video.gif");
  background-size: cover;
  background-position-x: -100px;
  background-position-y: 0;
}
.projects_grid > div:nth-child(4) > .keywords:hover {
  background-image: url("./images/senseat_video.gif");
  background-size: cover;
  background-position-x: 0;
  background-position-y: 0;
}

/* METODOLOGIA SECTION */

.metodologia {
  width: 100vw;
  height: 100vh;
  padding: 3rem 4rem;
  color: var(--main-black);
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.metodologia_main {
  width: 93%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 7.5%;
  margin: auto;
}

.metodologia_line {
  width: 100%;
  height: 1px;
  background-color: var(--main-black);
  z-index: 4;
}

.metodologia_main > div:nth-child(2) {
  background-color: var(--main-white);
  z-index: 6;
}

.metodologia_main > div:nth-child(3) {
  background-color: var(--main-white);
  z-index: 5;
}

.metodologia_main > div:nth-child(4) {
  background-color: var(--main-white);
  z-index: 4;
}

.metodologia_main > div:nth-child(5) {
  background-color: var(--main-white);
  z-index: 3;
}

.metodologia_main > div:nth-child(n+2) {
  border-bottom: 1px solid var(--main-black);
}

.metodologia_main p {
  margin: 0;
}

/* SERVICES SECTION */

.services {
  width: 100vw;
  height: 100vh;
  padding: 3rem 4rem 2rem 4rem;
  color: var(--main-black);
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services_main {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.services_main > .words {
  width: 70%;
  font-size: 4rem;
  line-height: 1;
}

.services_main > .words span {
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.services_main > .words span.selected {
  background-color: var(--main-highlight-color) !important;
  color: var(--main-black) !important;
}

.services_main > .words span:hover {
  cursor: pointer;
  background: var(--main-black);
  color: var(--main-white);
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.services_main > .words span:nth-child(4) {
  cursor: text;
  background: var(--main-white);
  color: var(--main-black);
}

.services_main > .packages {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.services_main .packages > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.services_main .packages > div > p {
  width: 180px;
  text-align: start;
  font-size: 18px;
}

.services_main .packages > div > p:first-child {
  font-family: var(--auxiliar-font);
  text-align: end;
  padding-bottom: 5px;
}

.services_main .packages > div > div {
  border-bottom: 1px solid var(--main-black);
  width: 250px;
  margin-bottom: 20px;
}

.services_main .packages a {
  border: 1px solid var(--main-black);
  padding: 0.5rem 2.5rem;
  border-radius: 30px;
  color: var(--main-black);
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-size: 1.3rem;
  font-family: "Neue-Montreal-Book";
  margin-bottom: 5px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
}

.services_main .packages a:hover {
  background: var(--main-black);
  color: var(--main-white);
  cursor: pointer;
}

.services_main .packages a > p {
  display: inline-block;
  animation: scrollText 10s 2s infinite linear;
}

.services_main .packages a:not(:first-child) > p {
  display: inline-block;
  animation: scrollText2 10s 2s infinite linear;
}

.services_main .packages a > p:nth-child(1) {
  margin-right: 2.5rem;
}

.services_main .packages a span {
  font-family: var(--auxiliar-font);
}

.services_main .packages a:not(:first-child) > p:first-child {
  margin-right: 2.3rem;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-176px - 2.3rem));
  }
}

@keyframes scrollText2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-172px - 2.5rem));
  }
}

/* FOOTER */

.footer_wrapper {
  width: 100vw;
  height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer_fake {
  width: 100vw;
  height: 75vh;
}
