@font-face {
  font-family: "Neue-Montreal-Medium";
  src: url("./fonts/NeueMontreal/PPNeueMontreal-Medium.otf");
}

@font-face {
  font-family: "Neue-Montreal-Bold";
  src: url("./fonts/NeueMontreal/PPNeueMontreal-Bold.otf");
}

@font-face {
  font-family: "Neue-Montreal-Book";
  src: url("./fonts/NeueMontreal/PPNeueMontreal-Book.otf");
}

@font-face {
  font-family: "Editorial-New-Light";
  src: local("Editorial-New-Reg"),
    url("./fonts/EditorialNew/PPEditorialNew-Ultralight.otf") format('opentype');
}

@font-face {
  font-family: "Editorial-New-Italic";
  src: local("Editorial-New-Italic"),
    url("./fonts/EditorialNew/PPEditorialNew-Italic.otf") format('opentype');
}

* {
  box-sizing: border-box;
}

:root {
  --main-black: #282c32;
  --main-white: #f8f8f8;
  --main-highlight-color: #bfffb9;
  --main-grey: #dbdbdb;
  --main-font: "Neue-Montreal-Medium", sans-serif;
  --auxiliar-font: "Editorial-New-Light", serif;
}

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  max-width: 100vw;
  font-family: var(--main-font);
  font-size: 16px;
}

body::-webkit-scrollbar{
  display: none;
}

a {
  text-decoration: none;
  color: var(--main-black);
}