.metodologia_step {
  width: 100%;
  min-height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  overflow-y: hidden;
  transition: all 0.5s cubic-bezier(0.215, 0.310, 0.655, 1);
}

.metodologia_step {
  cursor: pointer;
}

.metodologia_step > div {
  font-family: "Neue-Montreal-Regular";
}

.metodologia_step > div > p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 40px;
}

.metodologia_step > div > p:nth-child(2) {
  font-size: 20px;
  letter-spacing: 0.02em;
}

.metodologia_step > div > p > span {
  margin-right: 30%;
}

.metodologia_step > div:nth-child(1) {
  width: 45%;
  transition: all 0.5s cubic-bezier(0.215, 0.310, 0.655, 1);
}

.metodologia_step > div:nth-child(2) {
  width: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: -200px;
}

.metodologia_step > div:nth-child(2) > div {
  font-size: 25px;
}

.metodologia_step > div:nth-child(3) {
  width: 20px;
  height: 20px;
  background-image: url("../../images/x.png");
  background-size: cover;
  margin-top: 1%;
  margin-bottom: 0.75%;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1);
  z-index: 20;
}

.metodologia_step > div:nth-child(3):hover {
    scale: 1.2;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.metodologia_step a {
  border: 1px solid var(--main-black);
  padding: 0.5rem 2.5rem;
  border-radius: 30px;
  color: var(--main-black);
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-size: 1.3rem;
  font-family: "Neue-Montreal-Book";
  width: 180px;
  height: fit-content;
  white-space: nowrap;
  overflow: hidden;
  margin-right: -200px;
}

.metodologia_step a:hover {
  background: var(--main-black);
  color: var(--main-white);
  cursor: pointer;
}

.metodologia_step a > p {
  display: inline-block;
  animation: scrollTextMethod 10s 2s infinite linear;
}

.metodologia_step a > p:nth-child(1) {
  margin-right: 2.5rem;
}

.metodologia_step a span {
  font-family: var(--auxiliar-font);
}

@keyframes scrollTextMethod {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 2.5rem));
  }
}