.metodologia_step {
  width: 100%;
  min-height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid var(--main-black);
  padding: 2%;
  overflow-y: hidden;
}

.metodologia_step {
  cursor: pointer;
}

.metodologia_step > div > p:nth-child(1) {
  font-size: 25px;
  font-family: "Neue-Montreal-Book";
  margin-bottom: 40px;
}

.metodologia_step > div > p:nth-child(2) {
  font-size: 20px;
}

.metodologia_step > div > p > span {
  font-family: var(--auxiliar-font);
  font-size: 18px;
  margin-right: 5px;
}

.metodologia_step > div:nth-child(1) {
  width: 40%;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.metodologia_step > div:nth-child(2) {
  width: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 23%;
}

.metodologia_step > div:nth-child(2) > div {
  font-size: 25px;
}

.metodologia_step > div:nth-child(3) {
  width: 20px;
  height: 20px;
  background-image: url("../../images/x.png");
  background-size: cover;
  margin-top: 0.75%;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.metodologia_step > div:nth-child(3):hover {
    scale: 1.2;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
